@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@0,400&display=swap");
@import "tailwindcss";


body {
   background-image: url("/assets/background.jpg");
   font-family: "Poppins", sans-serif;
   @apply min-h-screen flex justify-center items-center bg-cover bg-center bg-no-repeat;
}

.custom-container {
   @apply bg-transparent backdrop-blur-[20px] border-2 border-white/30;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.animate-fade-in {
   animation: fadeIn 0.5s ease-in;
}
